.sidenav-container {
  height: 100%;
}

.sidenav {
  height: 100%;
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.avatar {
  height: 50px;
  width: 50px;
}
