<div class="grid-container">
  <h1 class="mat-h1">{{cardInfo!.name}}</h1>
  <h4 class="mat-h4">{{cardInfo!.doctor!.secondName}} {{cardInfo!.doctor!.firstName}}  {{cardInfo!.doctor!.middleName}}</h4>
  <div *ngIf="show;then numberTabs else textTabs">
  </div>
  <ng-template #numberTabs>
    <mat-tab-group class="tabs" mat-align-tabs="start">
      <mat-tab label="Таблица"><app-card-page-table [cardid]="data.cardId" [token]="data.token" [target]="true"></app-card-page-table></mat-tab>
      <mat-tab label="График"><app-card-page-graph [cardid]="data.cardId" [token]="data.token" [target]="true"></app-card-page-graph></mat-tab>
    </mat-tab-group>
  </ng-template>
  <ng-template #textTabs>
    <mat-tab-group class="tabs" mat-align-tabs="start">
      <mat-tab label="Таблица"><app-card-page-table [cardid]="data.cardId" [token]="data.token" [target]="true"></app-card-page-table></mat-tab>
    </mat-tab-group>
  </ng-template>

  <div *ngIf="show;then numberfield else textfield">
  </div>
  <ng-template #numberfield>
    <div class="numberInfo">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>{{cardInfo!.name}}</mat-label>
        <input [(ngModel)]="newNumberValue"
          matInput
          class="numberInput"
          type="number"
        />
      </mat-form-field>
      <button mat-raised-button (click)="SendNewValue()" color="primary">Отправить</button>
    </div>
  </ng-template>
  <ng-template #textfield>
    <div class="numberInfo">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>{{cardInfo!.name}}</mat-label>
        <textarea [(ngModel)]="newTextValue"
          matInput
          class="numberInput"
          type="text"
        ></textarea>
      </mat-form-field>
      <button mat-raised-button (click)="SendNewValue()" color="primary">Отправить</button>
    </div>
  </ng-template>
</div>
