<div class="dialogDiv">
  <div class="constValues">
    <h1>Профиль</h1>
    <span>{{fio}}</span>
    <span>Пол: {{sex}}</span>
    <span>Возраст: {{age}} лет</span>
  </div>
  <div class="varValues">
    <div class="blockValues">
      <h1>Текущие значения</h1>
      <span>Рост: {{growth}} см</span>
      <span>Вес: {{weight}} кг</span>
      <span>Индекс массы тела: {{mass_index}}(Норма)</span>
    </div>
    <div class="blockValues">
      <h1>Новые значения</h1>
      <mat-form-field>
        <mat-label appearance="outline">Рост</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label appearance="outline">Вес</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-raised-button color="primary">Отправить</button>
    </div>
  </div>
  <button (click)="OnLogout()" mat-raised-button color="primary">Выйти</button>
</div>
