<div class="grid-container">
  <h1 class="mat-h1">{{cardInfo!.name}}</h1>
  <h4 class="mat-h4">{{cardInfo!.patient!.secondName}} {{cardInfo!.patient!.firstName}}  {{cardInfo!.patient!.middleName}}</h4>
  <div *ngIf="show;then numberTabs else textTabs">
  </div>
  <ng-template #numberTabs>
    <mat-tab-group class="tabs" mat-align-tabs="start">
      <mat-tab label="Таблица"><app-card-page-table [cardid]="cardid" [token]="token"></app-card-page-table></mat-tab>
      <mat-tab label="График"><app-card-page-graph [cardid]="cardid" [token]="token"></app-card-page-graph></mat-tab>
    </mat-tab-group>
  </ng-template>
  <ng-template #textTabs>
    <mat-tab-group class="tabs" mat-align-tabs="start">
      <mat-tab label="Таблица"><app-card-page-table [cardid]="cardid" [token]="token"></app-card-page-table></mat-tab>
    </mat-tab-group>
  </ng-template>

</div>
