<div class="container">
  <div class="wrapper">
    <span class="title">Вход</span>
    <mat-form-field appearance="outline">
      <mat-label>Логин</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Пароль</mat-label>
      <input matInput>
    </mat-form-field>
    <div class="link-btns">
      <a mat-raised-button href="{{href}}/register">Регистрация</a>
      <button mat-raised-button color="primary">Войти</button>
    </div>
  </div>
</div>
