.numberInput {
  font-size: 18px;
}
.dashboard {
  font-size: 24px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 600px;
}
.example-form-field {
  margin-top: 10px;
}

.message-box {
  width: 500px;
}

.dashboard-button {
  width: 300px;
}
