<div class="grid-container">
  <h1 class="mat-h1">Врачи</h1>
  <mat-grid-list id="doctorList" cols="3" rowHeight="180px">
    <mat-grid-tile [id]="doctor.id == 1 ? 'confirm': ''" *ngFor="let doctor of pagedList" [colspan]="1"
                   [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="cardTitleBlock">
            <span class="cardTitle">{{ doctor.type }}</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <span class="doctorName">Имя: {{ doctor.secondName }}  {{ doctor.firstName }} {{ doctor.middleName }}</span>
          <a mat-raised-button color="primary" class="more-button" (click)="changeStep()">
            Обратиться
          </a>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-paginator id="paging" class="pagination"
                 [length]="12"
                 [pageSize]="6"
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>
