<div class="grid-container">
  <div class="answer-form">
    <h1 class="mat-h1">{{answer!.patientName}}</h1>
    <h4 class="mat-h4">{{answer!.text}}</h4>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Параметр</mat-label>
      <input [(ngModel)]="name" matInput type="text">
    </mat-form-field>
    <mat-radio-button (change)="textValue=!textValue; numberValue=!numberValue" [checked]="textValue" class="example-margin">Текстовое значение</mat-radio-button>
    <mat-radio-button (change)="numberValue=!numberValue; textValue=!textValue" class="example-margin">Числовое значение</mat-radio-button>
    <div *ngIf="!textValue; then minmax"></div>
    <ng-template #minmax>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Минимальное значение</mat-label>
        <input [(ngModel)]="min" matInput type="number">
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Максимальное значение</mat-label>
        <input [(ngModel)]="max" matInput type="number">
      </mat-form-field>
    </ng-template>
    <button mat-raised-button color="primary" (click)="SendCard(answer!.id)">Отправить</button>
  </div>
</div>
