.grid-container {
  margin: 20px;
}

.learnBtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.learnBtn {
  margin: 10px;
  width: 50%;
  padding: 0.7rem;
  font-size: 1.3rem;
}

.learnBtnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.active {
  background-color: #3f51b5;
  width: 13px;
  height: 13px;
  margin-left: 5px;
  border-radius: 50%;
  box-shadow:
    0 0 10px #3f51b5,
    0 0 20px #3f51b5,
    0 0 30px #3f51b5,
    0 0 40px #3f51b5;
}
