<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="3" rowHeight="180px">
    <mat-grid-tile *ngFor="let card of pagedList" [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title class="cardTitleBlock">
              <span class="cardTitle">{{card.name}}{{userid}}</span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <span class="doctorName">Доктор: {{card.doctorName}}</span>
            <a mat-raised-button color="primary" class="more-button" [routerLink]="['/cardpage', {id: card.id}]">
              Заполнить
            </a>
          </mat-card-content>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-paginator class="pagination"
                 [length]="cardLength"
                 [pageSize]="6"
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>
