.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 230px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.avatar {
  height: 50px;
  width: 50px;
  margin-top: 10px;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  margin-top: 10px;
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}
