/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
  width: 50%;
  margin: auto;
  align-items: center;
  overflow-y: hidden;
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.introjs-overlay{
  pointer-events: none;
}

.introjs-helperLayer{
  pointer-events: none;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.warning {
  height: 15px;
  width: 15px;
}

