<div class="container">
  <div class="wrapper">
    <span class="title">Регистрация</span>
    <mat-form-field appearance="outline">
      <mat-label>Логин</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Пароль</mat-label>
      <input matInput>
    </mat-form-field>
    <div class="link-btns">
      <button mat-raised-button color="primary">Зарегистрироваться</button>
      <a mat-raised-button href="{{href}}/">Вход</a>
    </div>
  </div>
</div>
