.wrapper {
  position: relative;
  height: 100vh;
  top: 3em;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.link-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.form {
  margin-top: 10px;
}
