.wrapper {
  position: relative;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}
.link-btns {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
}

.container-wrapper {
  height: 100vh;
  overflow: hidden;
}
.inputs {
  display: flex;
}

.radio {
  display: flex;
  flex-direction: column;
}

.example-margin {
  margin: 10px 0;
}

.button-margin {
  margin: 0 20px;
}
