<div class="container-wrapper">
  <div class="container">
    <span class="title">Регистрация</span>
    <div class="inputs">
      <div class="wrapper">
        <mat-form-field appearance="outline">
          <mat-label>Логин</mat-label>
          <input name="loginInput" [(ngModel)]="login" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Пароль</mat-label>
          <input type="password" name="passInput" [(ngModel)]="pass" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Фамилия</mat-label>
          <input [(ngModel)]="secondName" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Имя</mat-label>
          <input [(ngModel)]="firstName" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Отчество</mat-label>
          <input [(ngModel)]="middleName" matInput>
        </mat-form-field>
      </div>
      <div class="wrapper">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input [(ngModel)]="email" matInput>
        </mat-form-field>
        <span>Пол</span>
        <mat-radio-button (change)="male=!male; woman=!woman" [checked]="male" class="example-margin">Мужской</mat-radio-button>
        <mat-radio-button (change)="woman=!woman; male=!male" class="example-margin">Женский</mat-radio-button>
        <mat-form-field appearance="outline">
          <mat-label>Дата Рождения</mat-label>
          <input matInput (dateInput)="OnDateChange($event.value)" [matDatepicker]="datepicker">
          <mat-hint>YYYY-MM-DD</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Отменить</button>
              <button mat-raised-button color="primary" matDatepickerApply>Подтвердить</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="link-btns">
      <a mat-raised-button class="button-margin" routerLink="/login">Вход</a>
      <button mat-raised-button color="primary" (click)="RegisterBtn()">Зарегистрироваться</button>
    </div>
  </div>

</div>
